.footer_container {
  flex-direction: row;
  justify-content: space-between;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 310px;
  padding-right: 250px;
}

.footer__logo {
  height: 73px;
}

.company-information {
  text-align: center;
  font-size: 12px;
}

.site-map {
  padding-left: 0;
  color: #969899;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.site-map__item {
  list-style-type: none; 
  padding-left: 5px;
  padding-right: 5px;
}

.site-map__link:hover {
  color: #dbbc1b;
  text-decoration:underline;
  cursor: pointer
}

.develop {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.develop_text {
  font-size: 15px;
  padding-left: 7px;
  padding-right: 7px;
  line-height: 20px;
}

.develop_text_orange {
  font-size: 17px;
  color: #ecb721;
}

.develop__logo {
  height: 62px;
  padding-top: 5px;
  padding-bottom: 5px;
}